
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

@section scripts{
    <script src="~/Page_Js/espaco_cadastro.js"></script>
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/AreaRestrita/Home">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Novo Espaço</span>
            </h2>
        </div>
        <!--//banner-->
        <!--grid-->
        <div class="grid-form">
            <!---->
            <div class="grid-form1">
                <h3>Cadastrar Novo Espaço</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Nome do Espaço</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtNome" placeholder="Nome do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Capacidade</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control1" id="txtCapacidade" placeholder="Capacidade do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Tamanho</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtTamanho" placeholder="Tamanho do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Unidade de Medida</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtUnidadeMedida" placeholder="Unidade de Medida do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">CEP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtCep" placeholder="CEP">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Endereço</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtEndereco" placeholder="Endereço do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Número</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control1" id="txtNumero" value="1" min="1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Complemento</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtComplemento" placeholder="Complemento do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Bairro</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtBairro" placeholder="Bairro do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Cidade</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtCidade" placeholder="Cidade do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Uf</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtUf" placeholder="Uf do Espaço">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo de Eventos</label>
                                <div class="col-sm-8">
                                    <select multiple="" class="form-control1" id="sltTipo">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Valor do Aluguel</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="txtValor" placeholder="R$">
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button id="btncadastro" class="btn btn-success">
                                            Cadastrar
                                        </button>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div id="mensagem"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--//grid-->
        <!---->
    </div>
</div>
<div class="clearfix"> </div>
