
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

@section scripts{
    <!--scrolling js-->
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/Page_Js/espaco_consulta.js"></script>
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/AreaRestrita/Home">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Meus Espaços</span>
            </h2>
        </div>
        <!--//banner-->
        <!--grid-->
        <div class="grid-form">
            <!---->
            <div class="grid-form1">
                <h3>Meus Espaços</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <table id="tabela" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Capacidade</th>
                                    <th>Tamanho</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        Quantidade de Clientes: <span id="quantidade"></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--//grid-->
        <!---->
    </div>
</div>
<div class="clearfix"> </div>


