
@{
                /**/

                ViewBag.Title = "Solicitacoes";
                Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            function consultar() {
                //função AJAX..
                $.ajax({
                    url: '/Espaco/ConsultarEspaco?idUsuario=' + sessionStorage.getItem("IDUSUARIOLOGADO") + '',
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (obj) {
                        //verificar se o controller retornou uma lista..
                        if (obj instanceof Array) {
                            //imprimir os dados da tabela..
                            var conteudo = "";
                            conteudo += "<option value='0'>::SELECIONE::</option>"
                            for (var i = 0; i < obj.length; i++) {
                                conteudo += "<option value='" + obj[i].IdEspaco + "'>" + obj[i].NomeEspaco + "</option>";
                            }
                            $("#sltEspaco").html(conteudo);
                        }
                        else {
                            //imprimir mensagem..
                            $("#mensagem").html(obj);
                        }
                    },
                    error: function (e) {
                        $("#mensagem").html("Erro: " + e.status);
                    }
                });
            };

            function parseJsonDate(jsonDate) {

                var fullDate = new Date(parseInt(jsonDate.substr(6)));
                var twoDigitMonth = (fullDate.getMonth() + 1) + ""; if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;

                var twoDigitDate = fullDate.getDate() + ""; if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
                var currentDate = twoDigitDate + "/" + twoDigitMonth + "/" + fullDate.getFullYear();

                return currentDate;
            };

            function ListarAlugueisPorEspaco(id) {
                $.ajax({
                    url: '/Aluguel/ConsultarAlgueisDoEspaco?idEspaco=' + id + '',
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (obj) {
                        //verificar se o controller retornou uma lista..
                        if (obj instanceof Array) {
                            //exibir a quantidade de elementos da lista..
                            $("#quantidade").html(obj.length);
                            debugger;
                            //imprimir os dados da tabela..
                            var conteudo = "";
                            for (var i = 0; i < obj.length; i++) {
                                conteudo += "<tr>";
                                conteudo += "<td>" + obj[i].IdAluguel + "</td>";
                                conteudo += "<td>" + parseJsonDate(obj[i].DataAluguel) + "</td>";
                                conteudo += "<td>" + obj[i].HoraInicio + "</td>";
                                conteudo += "<td>" + obj[i].HoraFim + "</td>";
                                conteudo += "<td>" + obj[i].Descricao + "</td>";
                                conteudo += "<td>" + obj[i].NomeUsuario + "</td>";
                                conteudo += "<td><input type='button' class='btn btn-default btn-sm' value='Confirmar Aluguel'/>";
                                conteudo += "&nbsp;&nbsp;<input type='button' class='btn btn-danger btn-sm' value='Excluir Aluguel'/></td>";
                                conteudo += "</tr>";
                            }
                            $("#tabela tbody").html(conteudo);
                        }
                        else {
                            //imprimir mensagem..
                            $("#mensagem").html(obj);
                        }
                    },
                    error: function (e) {
                        $("#mensagem").html("Erro: " + e.status);
                    }
                });
            };

            consultar();

            $('#sltEspaco').change(function () {
                ListarAlugueisPorEspaco($(this).val());
            });

        });
    </script>
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/AreaRestrita/Home">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Solicitações de Aluguel</span>
            </h2>
        </div>
        <!--//banner-->
        <!--grid-->
        <div class="grid-form">
            <!---->
            <div class="grid-form1">
                <h3>Solicitações de Aluguel</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Espaço</label>
                                <div class="col-sm-8">
                                    <select name="selector1" id="sltEspaco" class="form-control1"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content">
                            <div class="tab-pane active" id="horizontal-form">
                                <div id="mensagem"></div>
                                <table id="tabela" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Data</th>
                                            <th>Hora Inicio</th>
                                            <th>Hora Final</th>
                                            <th>Nome do Evento</th>
                                            <th>Nome do Solicitante</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                Quantidade de Eventos: <span style="color:black" id="quantidade"></span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--//grid-->
    <!---->
</div>


